* {
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial,
    sans-serif;
  position: fixed;
  overflow: hidden;
}

#cardroot {
  background: #f3fafb;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#cardroot > .cardcontainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cardroot > .cardcontainer > .card {
  background-color: transparent;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 120vh;
  height: 75vh;
  will-change: transform;
  border-radius: 10px;
  filter: drop-shadow(20px 20px 20px rgba(50, 50, 73, 0.4))
}

.carddebug {
  width: 50%;
  height: 100%;
  padding: 5%;
  position: absolute;
}

.cardimage {
  width: 50%;
  height: 100%;
  padding: 5% 5% 5% 8%;
  position: absolute;
}

.carddata {
  width: 50%;
  height: 100%;
  margin-left: 50%;
  padding: 5% 10% 5% 5%;
  position: absolute;
}

.cardstatus {
  width: 50%;
  height: 100%;
  padding: 5%;
  position: absolute;  
}

.cardstatus > div {
  width: 100%;
  padding-top: 100%;
}

.cardstatus > div > h3 {
  font-size: 0.9rem;
  text-align: center;
  font-weight: unset;
  margin: 0;
}


.cardimage > div {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;  
  width:100%;
  height: 75%;
}

.carddata > h1 {
  font-size: 1.5rem;
  text-align: center; 
  margin: 0;
}


.cardheadinghr {
  color: grey;
}

.cardheadingh2 {
  font-size: 0.6rem;
  color: grey;
  text-align: center; 
  margin-bottom: 0;
}

.carddata > p {
  font-size: 0.9rem;
}

.carddata > ul {
  font-size: 0.9rem;
}