:root {
  --tape-gray: #dbd8be;
  --tape-edge-gray: #b7b49d;
  --heading-gray: grey;
  --text-unit: min(1vh,1.5vw);
}

/* Card Container */

.cardcontainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardcontainer > .card {
  background-color: transparent;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: min(120vh, 90vw);
  height: 75vh;
  will-change: transform;
  border-radius: 10px;
  filter: drop-shadow(20px 20px 20px rgba(50, 50, 73, 0.4))
}

/* Card Debug */

.card > .debug {
  width: 50%;
  height: 100%;
  padding: 5%;
  position: absolute;
}

/* Card Image */

.card > .image {
  width: 50%;
  height: 100%;
  padding: 5% 5% 5% 10%;
  position: absolute;
}

.card > .image > div {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;  
  width:100%;
  height: 75%;
  position: relative;
}

.card > .image >  div > img{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto; 
  position: absolute;
  transform: translate(-50%, -50%) rotate(3deg);
  top: 50%;
  left: 50%;
  object-fit: contain;
  border-radius: 3px;
  border: 10px solid #dadada; 
  border-bottom: 25px solid #dadada; 
  -webkit-box-shadow: 0px 0px 10px #777; 
  -moz-box-shadow: 0px 0px 10px #777; 
  box-shadow: 0px 0px 10px #777;
  -webkit-transform: rotate (3deg);
  -moz-transform: rotate (3deg);
}

/* Card Data & Status */

.card > .status {
  width: 50%;
  height: 100%;
  padding: 5vh 5% 5vh 8%;
  position: absolute;  
}

.card >.status > div {
  width: 100%;
  height: 100%;
  position: relative;
}

.card >.status > div > div {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.card > .data {
  width: 50%;
  height: 100%;
  margin-left: 50%;
  padding: 5vh 10% 5vh 5%;
  position: absolute;
}

.card > .data > h1 {
  font-size: calc(4*var(--text-unit));
  text-align: center; 
  margin: 0;
}

.card > .data > p,
.card > .status > div > div > p {
  font-size: calc(2.5*var(--text-unit));
  margin-top: 0;
}

.card > .status > div > div > p {
  text-align: center;
}

.card > .data > ul {
  font-size: calc(2.5*var(--text-unit));
  padding-left: calc(2.5*var(--text-unit));
}

.card > .data > hr, 
.card > .status > div > div > hr {
  color: var(--heading-gray);
}

.card > .data > h2, 
.card > .status > div > div > h2 {
  font-size: calc(2*var(--text-unit));
  color: var(--heading-gray);
  text-align: center; 
  margin-bottom: 0;
}


/* Card Image Tape */

.card > .imagetape {
  width: 50%;
  height: 100%;
  padding: 5% 5% 5% 8%;
  position: absolute;  
}

.tape-section {
  position: absolute;
  width: 100%;
}

.tape-section:first-of-type {
  top: 0;
}

.tape-section:last-of-type {
  bottom: 0;
}

.tape-section::before,
.tape-section::after {
  content: "";
  width: 10vmin;
  height: 4vmin;
  position: absolute;
  background-color: var(--tape-gray);
  opacity: 0.7;
  border-right: 1px dotted var(--tape-edge-gray);
  border-left: 1px dotted var(--tape-edge-gray);
}

.tape-section:last-of-type::after {
  transform: rotate(-45deg);
  right: -4vmin;
  top: -3vmin;
}

.tape-section:first-of-type::before {
  transform: rotate(-45deg);
  left: -4vmin;
}

.tape-section:first-of-type::after {
  transform: rotate(45deg);
  right: -4vmin;
  top: 0;
}

.tape-section:last-of-type::before {
  transform: rotate(45deg);
  left: -4vmin;
  bottom: 0;
}