:root {
  --text-unit: min(1vh,1.5vw);
}

#back-button,
#prev-button,
#next-button,
#category-title {
  position: absolute;
  width: 10vw;
  z-index: 2;
  border: none; 
  background-color: rgba(0,0,0,0.03);
  font-size: calc(2*var(--text-unit));
  opacity: 1;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#prev-button:hover,
#next-button:hover,
#back-button:hover {
  background-color: rgba(0,0,0,0.1);
}

#category-title {
  height: 10vh;
  right: 0;
  text-align: center;
  top: 0;
  line-height: 10vh;
}

#category-title span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#back-button {
  left: 0;
  height: 10vh;
  top: 0;
}


@media only screen and (max-device-width: 640px) {
  #category-title,
  #back-button {
    width: 50vw;
  }

  #prev-button,
  #next-button {
    width: 20vw;
  }
}

#prev-button {
  left: 0;
  height: 89vh;
  bottom: 0;
}

#next-button {
  right: 0;
  height: 89vh;
  bottom: 0;
}

#cardroot {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}