:root {
  --text-unit: min(1vh,1.5vw);
}

#prev-button,
#next-button {
  position: absolute;
  width: 10vw;
  z-index: 2;
  border: none; 
  background-color: rgba(0,0,0,0.03);
  font-size: calc(2*var(--text-unit));
  opacity: 1;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#prev-button:hover,
#next-button:hover {
  background-color: rgba(0,0,0,0.1);
}

@media only screen and (max-device-width: 640px) {
  #prev-button,
  #next-button {
    width: 20vw;
    display: none;
  }
}

#prev-button {
  left: 0;
  height: 89vh;
  bottom: 0;
}

#next-button {
  right: 0;
  height: 89vh;
  bottom: 0;
}

#cardroot {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}