#back-button,
#prev-button,
#next-button {
  position: absolute;
  width: 10vw;
  z-index: 2;
  border: none; 
  background-color: rgba(0,0,0,0.03);
}

#prev-button:hover,
#next-button:hover,
#back-button:hover {
  background-color: rgba(0,0,0,0.1);
}

#category-title {
  position: absolute;
  width: 100vw;
  height: 10vh;
  left: 0;
  z-index: 1;
  border: none; 
  background-color: rgba(0,0,0,0.03);
  text-align: center;
  line-height: 10vh;
}

#back-button {
  left: 0;
  height: 10vh;
  top: 0;
  border-width: 1px;
  border-color: black;
}


#prev-button {
  left: 0;
  height: 89vh;
  bottom: 0;
}

#next-button {
  right: 0;
  height: 89vh;
  bottom: 0;
}

#cardroot {
  background: #f3fafb;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}