#prev-button {
  position: absolute;
  left: 0;
  width: 10vw;
  height: 100vh;
  z-index: 1;
  border: none; 
  background-color: rgba(0,0,0,0.03);
}

#prev-button:hover {
  background-color: rgba(0,0,0,0.1);
}

#next-button {
  position: absolute;
  right: 0;
  width: 10vw;
  height: 100vh;
  z-index: 1;
  border: none; 
  background-color: rgba(0,0,0,0.03);
}

#next-button:hover {
  background-color: rgba(0,0,0,0.1);
}


#cardroot {
  background: #f3fafb;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}