:root {
  --text-unit: min(1vh,1.5vw);
  --heading-gray: grey;
}

#listroot {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#listroot > img {
    width: 100%;
    display: inherit;
}
   
#listroot > div {
    background-repeat: repeat-y;
    background-size: 100%;
    padding: 4% 12% 12% 12%;
    min-height: 100vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 3px;
    border: 10px solid #dadada; 
    -webkit-box-shadow: 0px 0px 10px #777; 
    -moz-box-shadow: 0px 0px 10px #777; 
    box-shadow: 0px 0px 10px #777;
}

#listroot > div > h1 {
    /* font-family: ListFont; */
    text-align: center;
    font-size: calc(5*var(--text-unit));
}

#listroot > div > h2 {
    margin-top: 0;
    /* font-family: ListFont; */
    font-size: calc(3*var(--text-unit));
}

#listroot > div > hr {
    color: var(--heading-gray);
}

#listroot > div > ul {
    font-size: calc(3*var(--text-unit));
    list-style-type: none;    
}

#listroot > div > ul > li {
    margin-top: calc(1.8*var(--text-unit));
    margin-bottom: calc(1.8*var(--text-unit));
}

@media only screen and (max-device-width: 640px) {
  #listroot {
    margin-top: 12vh;
  }
}

a {
  color: darkblue;
  text-decoration: none;
}

@font-face {
  font-family: ListFont; 
  src: url(/public/fonts/KoplokFreeTrial-JRrVj.otf); 
}