name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write   # Required for pushing to gh-pages

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Required so gh-pages can push with full history

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'  # or your preferred version

      - name: Install dependencies
        run: npm install

      - name: Set git identity
        run:  git config --global user.email "ghpages@thomaspreece.com" && git config --global user.name "Github Actions"

      - name: Deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # used by gh-pages
        run: npm run deploy
